html, body {
	margin: 0;
	min-height: 100vh;
	font-family: Terminus, sans-serif;
}

header {
	background-color: #2B2B2B;
	color: #aaa;
	height: 50px;
	position: relative;
}

header nav {
	padding: 0px 100px;
	height: 50px;
	display: table;
	position: absolute;
}

header nav a {
	position: relative;
	font-size: 15px;
	font-family: monospace;
	vertical-align: middle;
	display: table-cell;
	color: #aaa;
	padding: 0 20px;
	text-decoration: none;
	background-color: #007B52;
}

header nav a.i {
	background-color: transparent;
}

header nav a.i:hover {
	background-color: #111;
}

p.comment {
	width: 100%;
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
}

p.comment a {
	text-decoration: none;
	color: #aaa;
}



div#heading {
	height: 500px;
	position: relative;
	background-image: url("img/header-bg.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	background-color: #3B3B3B;
}

div#heading img {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}

div#heading h1 {
	margin: 0;
	color: #fff;
	font-size: 40px;
	letter-spacing: 30px;
	font-weight: 900;
	position: absolute;
	bottom: 70px;
	width: 100%;
	text-align: center;
}



div#about {
	max-width: 900px;
	margin: 0 auto;
}

div#about hr {
	margin: 30px auto;
	border: none;
	height: 1px;
	background-color: #aaa;
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#aaa), to(rgba(255,255,255,0)));
}

div#about h2 {
	margin-top: 0;
}


footer {
	margin-top: 70px;
	position: relative;
	text-align: center;
	background-color: #2B2B2B;
	color: #aaa;
	width: 100%;
	padding: 50px;
	bottom: 0px;
	box-sizing: border-box;
}

footer nav {
	display: inline-block;
	width: 300px;
}

footer nav li {
	display: block;
}

footer a {
	color: #aaa;
}

footer a:hover {
	color: #fff;
}

footer div {
	max-width: 900px;
	margin-top: 30px;
	margin: 40px auto 0 auto;
}